@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: "MaruSC";
    src: url('../fonts/975MaruSC-Bold.ttf');
}

html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    color: #6a3f2d;
    font-family: "MaruSC";
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    display: -webkit-flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-decoration: none;
    color: #ca7b5a;
    transition: color 0.3s;
    -moz-transition: color 0.3s;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
}

a:hover {
    color: #995c42;
}

a:active {
    color: #6a3f2d;
}


/* PC */
@media screen and (min-width:801px) {

    .welcome {
        position: relative;
        margin: 30px 0 20px 0;
        width: auto;
        height: 100px;
    }
    
    .welcome_img {
        position: absolute;
        width: 450px;
        height: 100px;
    }
    
    .welcome_p {
        position: relative;
        width: 450px;
        height: 100px;
        line-height: 0.5em;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    }
    
    .old_story {
        margin: 20px 0 20px 0;
        font-size: 1.2em;
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    
    #img00 {
        width: 300px;
        height: auto;
        margin-left: 80px;
    }
    
    #img01 {
        width: 500px;
        height: auto;
        margin-right: 100px;
        border-radius: 8px;
    }
    
    #img02 {
        width: 500px;
        height: auto;
        margin-left: 100px;
        border-radius: 8px;
    }
    
    .card {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        background-color: rgba(217, 181, 132, 0.5);
        padding: 20px 0 20px 0;
        margin: 10px 0 10px 0;
    }
    
    .cassette {
        width: 200px;
    }
    
    .card_text {
        width: 410px;
        margin-left: 100px;
    }
    
    #info {
        margin-top: 50px;
    }
    
    #feedback {
        background: none;
    }
    
    p.fb {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    span.fb {
        margin-left: 1.5em;
    }
    
    span.mail {
        margin-left: 1.5em;
        user-select: text;
        -webkit-touch-callout: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        -khtml-user-select: text;
    }
}

/* Mobile */
@media screen and (max-width:800px) {
    
    .welcome {
        position: relative;
        margin: 2em 0 3em 0;
        width: 80%;
        max-width: 360px;
        height: auto;
    }
    
    .welcome_img {
        position: absolute;
        width: 100%;
        height: auto;
    }
    
    .welcome_p {
        position: relative;
        line-height: 0.1em;
        font-size: 1.7em;
        font-weight: bold;
        text-align: center;
    }
    
    .old_story {
        margin: 0;
        padding-left: 5%;
        font-size: 1em;
        width: 90%;
        display: flex;
        display: -webkit-flex;
        flex-flow: column-reverse wrap;
        justify-content: center;
        align-items: flex-start;
        color: #333333;
    }

    #old_story_02 {
        flex-flow: column wrap;
    }
    
    #img00 {
        width: 300px;
        max-width: 90%;
        height: auto;
    }
    
    #img01 {
        width: 500px;
        max-width: 90%;
        height: auto;
        border-radius: 8px;
    }
    
    #img02 {
        width: 500px;
        max-width: 90%;
        height: auto;
        border-radius: 8px;
    }
    
    .card {
        width: 100%;
        display: flex;
        display: -webkit-flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        background-color: #e2e2e2;
        padding: 1em 0 0 0;
        color: #333333;
        font-size: 0.8em;
    }
    
    .cassette {
        width: auto;
        max-width: 200px;
    }
    
    .card_text {
        width: 80%;
    }
    
    #info {
        margin-top: 1em;
    }
    
    #feedback {
        background: none;
    }
    
    p.fb {
        display: flex;
        display: -webkit-flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
    }
    
    span.fb {
        margin-left: 1.5em;
    }
    
    span.mail {
        margin-left: 1.5em;
        user-select: text;
        -webkit-touch-callout: text;
        -moz-user-select: text;
        -webkit-user-select: text;
        -ms-user-select: text;
        -khtml-user-select: text;
    }
}

